
@using zad1

@using raupjc_hw3.Models.Todo;

@model IndexViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



@{

    ViewData["Title"] = "Index";

   

}



<!DOCTYPE html>



<html>

<head>

    <title>Todo Items</title>

</head>

<body>

    <h2>Todo</h2>

    <div style="margin-bottom:50px">

        <a asp-action="Add" style="display:inline-block; text-decoration:none; color:#0000FF; margin-right:20px;">Add new todos</a>

        <a asp-action="Completed" style="display:inline-block; text-decoration:none; color:#0000FF;">See completed todos</a>

    </div>

    @foreach (var item in Model.TodoViewModels)

    {

      

    }

</body>

</html>

